
{% block content %}
<section class="container container--column stats">
  <div class="stats__header">
    <div class="stats__title">
      <img class="stats__emblem" src="{{ site.link }}{{ title_emblem_src }}" alt="Eagle emblemat">
      <span>{{ __('Co nadziabane','DziubDziub') }}</span>
      <span>{{ __('To nasze','DziubDziub') }}</span>
    </div>
    <div class="stats__information">
      <span>{{ __('*Podczas tworzenia tej strony nie ucierpiał żaden orzeł ani robak','DziubDziub') }}</span>
    </div>
  </div>
  <div class="stats__content">
    <div class="stats__item">
      <div class="stats__item-background">
        <img src="#!" alt="">
      </div>
      <div class="stats__item-content">
        <span>{{ __('Znieśliśmy','DziubDziub') }}</span>
        <span>{{ __('50 000','DziubDziub') }}</span>
        <span>{{ __('Linii kodu','DziubDziub') }}</span>
      </div>
    </div>
    <div class="stats__item">
      <div class="stats__item-background">
        <img src="#!" alt="">
      </div>
      <div class="stats__item-content">
        <span>{{ __('Znieśliśmy','DziubDziub') }}</span>
        <span>{{ __('50 000','DziubDziub') }}</span>
        <span>{{ __('Linii kodu','DziubDziub') }}</span>
      </div>
    </div>
    <div class="stats__item">
      <div class="stats__item-background">
        <img src="#!" alt="">
      </div>
      <div class="stats__item-content">
        <span>{{ __('Znieśliśmy','DziubDziub') }}</span>
        <span>{{ __('50 000','DziubDziub') }}</span>
        <span>{{ __('Linii kodu','DziubDziub') }}</span>
      </div>
    </div>
    <div class="stats__item">
      <div class="stats__item-background">
        <img src="#!" alt="">
      </div>
      <div class="stats__item-content">
        <span>{{ __('Znieśliśmy','DziubDziub') }}</span>
        <span>{{ __('50 000','DziubDziub') }}</span>
        <span>{{ __('Linii kodu','DziubDziub') }}</span>
      </div>
    </div>
  </div>
</section>
{% endblock %}